// colors
$main-color: #1e3a8a;
$bg-color: #ffffff;
$navbar-color: #ffffff;
$border-color: #e8e8e8;
$logo-color: #000000;
$twitter-color: #000000;
$facebook-color: #4267b2;

// fonts
$work-sans-font: "Work Sans", sans-serif;