.card {
  overflow: hidden;
  border-radius: 4px;
  padding: 0;

  @include breakpoint(mobile) {
    width: 100%;
  }

  &-title {
    line-height: 20px;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 0;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      display: flex;
      gap: 9px;

      a {
        width: 18px;
        height: 18px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
